<style media="screen">
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: black;
    padding: 0 1rem;
  }

  .menu {
    padding-top: 1.5rem;
    width: 100%;
    max-width: 720px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
margin-left: auto;
  }

  .menu .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .menu .card>*:not(img) {
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu h5 {
    font-size: 1.7rem;
    color: lightcoral;
    font-weight: bold;
  }

  .menu small {
    font-size: 93%;
    font-weight: 400;
    color: dimgray;
  }

  .menu .card:hover {
    background: lightcoral;
    cursor: pointer;
  }

  .menu .card:hover h5,
  .menu .card:hover small {
    color: white;
  }

  .menu button {
    /* display: inline-block; */
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    width: fit-content;
  }

  .menu a {
    text-decoration: none;
    color: black;
    font-weight: 200;
    padding: 0 15px;
  }

  a:hover {
    text-decoration: none;
    opacity: 0.6;
  }

  .btn-submit {
    color: #fff;
    background-color: #f0807f;
    border-color: #f0807f;
  }

  .btn:hover {
    opacity: 0.6;
  }

  .btn-close {
    color: #f0807e;
    background-color: #fdf4f4;
    border-color: #fdf4f4;
  }

  .menu-btn.btn,
  .menu .btn-close {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 5;
    box-shadow: 0px 0px 5px black;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
  }

  .card.special {
    color: white;
    background: lightcoral;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .card.special h1 {
    font-size: 2.5rem;
    font-weight: bolder;
  }

  .card.special p {
    /* font-size: 1.3rem; */
  }

  .menu h1 {
    font-size: 2.5rem;
    background: white;
    width: fit-content;
    border-radius: 0%;
    padding: 3px 0px;
    color: black;
    margin-left: auto;
  }

  .mb-68px {
    margin-bottom: 68px;
  }

</style>

<button class="menu-btn btn" type="button" name="button" onclick="$('.menu-container').toggleClass('d-none')">
  <img src="/menu.svg" alt="">
</button>

<div class="menu-container d-none">

  <div class="menu">

    <h1 class="mt-auto"><a href="/">Home</a> </h1>
    <h1><a href="/profile">Profile</a> </h1>
    <h1><a href="/challenges">Challenges</a> </h1>
    <h1 class="mb-68px"><a href="#">Log Out</a> </h1>
    <!-- <h1 onclick="$('.menu-container').toggleClass('d-none')"><a href="#">Close Menu</a> </h1> -->


    <button class="btn btn-close" type="button" name="button" onclick="$('.menu-container').toggleClass('d-none')">
      <img src="/close.svg" alt="">
    </button>

  </div>

</div>
