<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style media="screen">
    body {
      background-color: black;
    }

    .container {
      padding: 10px;
      padding-bottom: 1rem;
    }

    .display-2 {
      font-size: 3.5rem;
      font-weight: 300;
      line-height: 1;
      margin-bottom: 3px;
      background: white;
      padding: 20px;
      color: black;
      font-weight: 600;
      border: 1px solid white;
      border-radius: 0%;
    }

    .display-2 span {
      font-weight: 200;
    }

    .display-2 .btn-bold {
      font-size: 1rem;
      padding: 11px 9px;
      border: 2px solid black;
      display: inline-block;
      background: black;
      color: white;
      font-weight: 400;
      white-space: nowrap;
    }

    .display-2 .btn-normal {
      font-size: 1rem;
      padding: 11px 9px;
      border: 2px solid black;
      display: inline-block;
      background: white;
      color: black;
      font-weight: 400;
      display: block;
      width: fit-content;
      margin-top: 4px;
    }

    .grid {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
      grid-gap: 3px;
    }

    .card {
      padding: 1.5rem;
      border: 1px solid rgba(0, 0, 0, 0.07);
      border-radius: 0;
      font-weight: 100;
    }

    .card:hover {
      cursor: pointer;
      opacity: 0.6;
    }

    .card>img {
      vertical-align: middle;
      border-style: none;
      max-width: 92px;
      margin-bottom: 23px;
      margin-left: auto;
      margin-right: auto;
    }

    .card>h1 {
      font-size: 1.2rem;
      margin-bottom: auto;
    }

    .btn-payment {
      background-color: lightcoral;
      border-color: lightcoral;
      padding: 5px 13px;
      color: white;
      font-weight: bold;
      box-shadow: none;
      display: block;
    }

    .modal li {
      font-size: 1.2rem;
      margin: 0;
      margin: auto;
      margin-left: -22px;
      line-height: 1.7;
      color: slategrey;
    }

    .modal h5 {
      font-weight: bold;
      font-size: 2.25rem;
    }

    .modal-header {}

    .modal .close {
      color: red;
      opacity: 1;
      z-index: 10;
      padding-top: 28px;
      padding-right: 22px;
    }

    input {
      border: 0px;
      padding: 9px 8px;
      width: 100%;
      box-sizing: border-box;
      background: #f0f0f0;
    }

    li>span {
      background: #ededed;
      color: black;
      padding: 0 6px;
      display: inline-block;
    }

    .badge {
      margin-right: auto;
      background: darkcyan;
      color: white;
      margin-top: 10px;
    }

    .d-xx-none {
      display: none;
    }

     @media (max-width: 1200px) {
     .container {
       max-width: 100%;
      }
    }
/*
    @media (max-width: 778px) {
      .grid {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }*/


    @media (max-width: 450px) {

      .display-2 {
        font-size: 9vh;
      }

      .d-xx-none {
        display: inline-block;
      }
    }
  </style>
  <title>Hello, world!</title>
</head>

<body>

  {{> menu}}

  <div class="container">

    <!-- <h1 class="display-2">Start <span style="
    color: red;
    font-weight: 200;
">30 days challenge</span> to gain control <br> of your <br> Life ! <br>
      <a class="btn-bold" href="/challenge">Continue with my Challenge</a>
      <a class="btn-normal" href="https://techshek.circle.so">Jump to the Community</a>
    </h1> -->

    <h1 class="display-2">
      Start <span>30 days challenge</span> to gain control <br class="d-xx-none"> of your <br class="d-xx-none"> Life ! <br>
      <a class="btn-bold" href="/challenge">Continue with my Challenge</a>
      <a class="btn-normal" href="https://techshek.circle.so">Jump to the Community</a>
    </h1>

    <div class="grid">

      <div class="card" data-toggle="" data-target="#staticBackdrop">
        <img src="/smoke.svg" alt="">
        <h1>I want to quit smoking</h1>
        <small class="badge">5.0 USD</small>
      </div>

      <div class="card" data-toggle="" data-target="#staticBackdrop">
        <img src="/sajadah.svg" alt="">
        <h1>I want to start 5 times prayers</h1>
        <small class="badge">5.0 USD</small>
      </div>

      <div class="card" data-toggle="" data-target="#staticBackdrop">
        <img src="/muscle.svg" alt="">
        <h1>I want to get fit</h1>
        <small class="badge">5.0 USD</small>
      </div>

      <div class="card" data-toggle="" data-target="#staticBackdrop">
        <img src="/homework.svg" alt="">
        <h1>I want to gain focus (Deep Work)</h1>
        <small class="badge">5.0 USD</small>
      </div>

      <div class="card" data-toggle="" data-target="#staticBackdrop">
        <img src="/html.svg" alt="">
        <h1>I want to code for 1 hour everyday</h1>
        <small class="badge">5.0 USD</small>
      </div>

      <div class="card" data-toggle="" data-target="#staticBackdrop">
        <img src="/calm.svg" alt="">
        <h1>I want to recite Quran & find contentment</h1>
        <small class="badge">5.0 USD</small>
      </div>

      <div class="card" data-toggle="" data-target="#staticBackdrop">
        <img src="/sun.svg" alt="">
        <h1>I want to control my anger</h1>
        <small class="badge">5.0 USD</small>
      </div>
    </div>

  </div>

  <style media="screen">
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      font-weight: bold;
      flex-direction: column;
    }
  </style>

  <div class="overlay d-none">
    <p></p>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://js.stripe.com/v3/"></script>
  <!-- <script src="./script.js" defer></script> -->
  <!-- Load translation files and libraries. -->
  <script src="https://unpkg.com/i18next/i18next.js"></script>
  <script src="https://unpkg.com/i18next-xhr-backend/i18nextXHRBackend.js"></script>
  <script src="https://unpkg.com/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.js"></script>
  <script src="./translation.js" defer></script>

  <script type="text/javascript">
    /* Handle any errors returns from Checkout  */
    var handleResult = function(result) {
      return
      if (result.error) {
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
        $('.overlay').removeClass('d-none').html(
          `<p>${displayError.textContent}</p>
           <button class="btn btn-close" onclick="$('.overlay').addClass('d-none')">Close</button>`
        );
      }
    };

    // Create a Checkout Session with the selected quantity
    var createCheckoutSession = function() {
      var inputEl = document.getElementById('quantity-input');
      var quantity = 1;

      return fetch('/create-checkout-session', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          quantity: quantity,
          locale: 'en',
          userInput: 'defaultpassword'
        }),
      }).then(function(result) {
        $('.overlay > p').html('Going forward ...')
        return result.json();
      });
    };

    /* Get your Stripe publishable key to initialize Stripe.js */

    fetch('/config')
      .then(function(result) {
        return result.json();
      })
      .then(function(json) {
        window.config = json;
        var stripe = Stripe(config.publicKey);
        // Setup event handler to create a Checkout Session on submit
        $(document).on('click', '.card', function(evt) {
          $('.overlay').removeClass('d-none').find('p').html('Creating Checkout Session ...');
          createCheckoutSession().then(function(data) {
            $('.overlay > p').html('Redirecting to Secure Checkout ...')
            stripe
              .redirectToCheckout({
                sessionId: data.sessionId,
              })
              .then(handleResult);
          });
        });
      });
  </script>
</body>

</html>
