<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">

  <title></title>
  <style media="screen">

    .block {
      max-width: 500px;
    }

    input {
      border: 0px;
      border-bottom: 1px solid lightgray;
      padding: 1rem 1rem 0.5rem 1rem;
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      color: grey;
    }
  </style>
</head>

<body>

  {{> menu}}
  <div class="container">

    <!-- <div class="grid">
      <div class="card">
        <img src="/sun.svg" alt="">
        <h5>Profile</h5>
        <small>Update your name, email or password</small>
      </div>

      <div class="card">
        <img src="/html.svg" alt="">
        <h5>Purchases</h5>
        <small>Update / view your purchases / subscriptions made to techshek</small>
      </div>

      <div class="card">
        <img src="/sajadah.svg" alt="">
        <h5>Payments</h5>
        <small>Update your payment methods / credit card details</small>
      </div>

      <div class="card">
        <img src="/calm.svg" alt="">
        <h5>Community</h5>
        <small>Socialize with people of products</small>
      </div>

      <div class="card">
        <img src="/muscle.svg" alt="">
        <h5>Challenges</h5>
        <small>View your 30 Days Challenges / Log your activity</small>
      </div>

      <div class="card">
        <img src="/homework.svg" alt="">
        <h5>Event</h5>
        <small>Our next event is planned on 6 September 2020 · Your ticket is purchased !</small>
      </div>
    </div> -->

    <div class="card special">
      <h1>Hey 👋, Qasim !</h1>
      <p>Make necessary edits and hit Save below. Happy Changing.</p>
    </div>
    <form class="block" action="/profile" method="post">
      <input type="text" name="" value="Qasim Ali">
      <input type="text" name="" value="qasimali24@gmail.com">
      <input type="text" name="" value="Password">
      <input type="text" name="" value="Confirm Password">

      <button class="btn btn-submit" type="submit" name="button">Save</button>
    </form>

  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
